.lessonList{
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
}

.lessonContainer {
    display: block;
    flex-direction: column;
    max-height:fit-content;
    width: 30%;
    max-width: 100%;
    padding: 5px;
    margin: 20px;
}

.lessonTitle {
    display: flex;
    justify-content: center;
}

.mainTitleContainer {
    display: flex;
}

.lessonContent {
    display: flex;
    flex-direction: column;
}

.contentBlock {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.mainTitle {
    padding: 2px;
}

.lessonText {
    display: flex;
    font-size: large;
}

.lessonImg {
    max-width: 250px;
    max-height: 250px;
}